<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yagent.platform.mapper.permission.ToolPermissionMapper">

    <select id="selectByToolVersion"
            resultType="com.yagent.platform.domain.permission.ToolPermissionDO">

        SELECT
        id,
        tool_id AS toolId,
        version,
        permission_type AS permissionType,
        permission_value AS permissionValue

        FROM ya_tool_permission

        WHERE tool_id = #{toolId}
        AND version = #{version}

    </select>

</mapper>
